.bold {
    font-weight: bold;
}

.red {
    color: red;
}

.Button {
    background-color: green;
    border: 2px solid black;
    color: white;
}

.Button:hover {
    background-color: cyan;
    color: 'black';
}

.Button.Red {
    background-color: red;
    border: 2px solid black;
    color: white;
}

.Button.Red:hover {
    background-color: salmon;
    color: 'black';
}
